.upload_Img_Sction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img_section {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
}
button {
  margin-top: 0.5rem;
}
